<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an text logo -->
            <!-- <h1><a href="index.html">NewBiz</a></h1> -->
            <a href="index.html">
                <h1>The Owl Hunt</h1>
            </a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/']" fragment="about">About Us</a></li>
                <li><a [routerLink]="['/']" fragment="services">Services</a></li>
                <li><a [routerLink]="['/']" fragment="portfolio">Portfolio</a></li>
                <li><a [routerLink]="['/']" fragment="team">Team</a></li>
                <li><a [routerLink]="['/']" fragment="contact">Contact Us</a></li>
                <li><a [routerLink]="['/login']">SignIn</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header>
<!-- #header -->